* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Applies background color */
body {
    background-color: #d9dcd6;
}
/* Applies header background and font */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Applies 48px font size and display inline to header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Applies header color to seo */
.header h1 .seo {
    color: #d9dcd6;
}
/* List the side and placement it should be applied to*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* head navigation list style type */
.header div ul {
    list-style-type: none;
}
/* Applies display type and margin 25px to header navigation*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Applies color and text decoration to hero*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*Applies text size to section of hero elements*/
p {
    font-size: 16px;
}
/* Applies background image and style to header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* List the side it should be applied to for Search Engine Optimization and Social Media Marketing*/
.float-left {
    float: left;
    margin-right: 25px;
}
/* List the side it should be applied to for Online Reputation Management*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* List the side it should be applied to for Benefits*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Applies styles to Benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Applies color and 32px to bottom on benefit lead */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Applies color and 32px to bottom of benefit brand*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Applies color and 32px to bottom of benefit cost*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Applies Text align and 10px to bottom benefit lead header*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Applies text align and 10px to bottom benefit brand header*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Applies text align and 10px to bottom benefit cost header*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Applies styles to benefit lead image */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Applies styles to benefit brand image */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Applies styles to benefit cost image */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* Applies styles to search engine optimization */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Applies styles to online reputation management */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Applies styles to social media marketing */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* Applies max height 200px to search engine image */
.search-engine-optimization img {
    max-height: 200px;
}
/* Applies max height 200px to online reputation management image*/
.online-reputation-management img {
    max-height: 200px;
}
/* Applies max height 200px to social media marketing image */
.social-media-marketing img {
    max-height: 200px;
}
/* Applies font size and 20px bottom to Search Engine Optimization */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Applies font size and 20px bottom to Online Reputation Management */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Applies font size and 20px bottom to Social Media Marketing */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* Applies styles to footer*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* Applies font size to footer */
.footer h2 {
    font-size: 20px;
}
